*{
    margin: 0%;
    /* border: 2px red solid; */
}
html{
    height: 100%;
}
body{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* cal body */

#calBody{
    height: 476px;
    width: 320px;
    background-color: #AAABAB;
    border-radius: 8px;

}


/* screen */
#calScreen{
    width: 280px;
    height: 60px;
    margin:20px auto;
    background-color: #EEEFEF;
    display: flex;
    flex-direction: column;
}
#calScreen > #resultDiv{
    font-size: 28px;
    /* border: 2px black solid; */
    margin-right: auto;

}
#calScreen > #calDiv{
    /* border: 2px red solid; */
    margin-left: auto;
}
/* clearButtons */
#clearButtons{
    width: 280px;
    height: 60px;
    display: flex;
    margin:10px 20px;
    gap: 10px;
    justify-content: space-around;
}
#clearButtons>button{
    flex: 1;
    border-radius: 8px;
}
#clearButtons #clear{
    background-color: rgb(255,170,170);
}
#clearButtons #delete{
    background-color: rgb(171,170,254);
} 

/* buttonLayer */
#buttons{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
}

.buttonLayer{
    display: flex;
}


/* button */
.buttonLayer > button{
    width: 56px;
    height: 56px;
    margin: 10px;
    border-radius: 26px;
    background-color: rgb(239,239,239);
}